@model P1F_TPM360_HUB.Models.HeroHeaderViewModel

<section id="hero1" class="hero position-relative shadow-sm"
         style="background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('@Model.Background');">

    <div class="text-center">
        <h3 class="text-white mb-0">
            <b>@Model.Title</b>
        </h3>
    </div>

    <div class="hero-tagline position-absolute top-50 end-0 translate-middle-y pe-3 text-end">
    </div>

</section>